* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%
}

.card {
    width: var(--max)
}

.card-img-top {
    width: 80%;
    max-width: var(--max);
    height: calc(var(--max));
    object-fit: cover;
}
.notification {
    background-color: #006699;
    min-height: 40px;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    box-shadow: 10px 10px 5px #888888;
}
.messagealert {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100000;
    padding: 0;
    font-size: 15px;
}